# Cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-*/

# C C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# OSX files
.DS_Store

# Qt Creator Files
*.user
build-*/
*.autosave

# Gradle files
.gradle/
build/
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.cxx/

# kde
.directory

# vscode
.vscode/

# other
.build
.debug
.svn
.git/
tags
.gdb_history
.project
.classpath
.settings/

# Visual Studio
.vs/
CMakeSettings.json
